html 
{
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    background-image: url("img/3\ -\ PtBK6JK.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
}

#main {
    height: 100%;
    width: 100%;
}

#main h1 {
    font-size: 5rem;
    letter-spacing: 3pc;
}

h2 
{
    margin-top: 0;
    padding-top: 2pc;
    font-family: Metropolis; 
    color: #DDD;
}

h3 
{
    font-family: Metropolis; 
    color: #333;
}

p 
{
    font-family: Metropolis, sans-serif;
    color: #AAA;
    line-height: 1.5em;
}

#con01 
{
    padding-inline: 30pc;
    padding-top: 20px;
    margin: 0;
    
}
#con02
{
    padding-inline: 30pc;
    padding-top: 20px;
    margin: 0;
}
#con03 
{
    padding-inline: 30pc;
    padding-top: 20px;
    margin: 0;
}

@font-face 
{ 
    font-family: Metropolis; src: url('fonts/Metropolis-Regular.otf'); 
} 

#navBtns 
{
    text-align: center;
}

#navBtns button
{
    background-color: transparent;
    line-height: 1.5em;
    border: none;
    border-bottom: 2px #AAA solid;
    color: #AAA;
    font-family: Metropolis, sans-serif;
    font-size: larger;
    padding: 20px 20px;
    letter-spacing: 5pt;
    margin: 3pc 10px;
    transition: all .1500ms;
}

#navBtns button:hover
{
    border-bottom: 2px #F62 solid;
    color: #F62;
}

#navBtns button:active
{
    border-bottom: 2px #F00 solid;
    color: #F00;
}

#totop 
{
    display: inline-block;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    height: 75px;
    width: 75px;
    background-color: transparent;
    transition: all .2s;
    visibility: hidden;
    opacity: 0;
    transform: rotate(-180deg);
}

#totop:hover
{
    background-color: #AAAAAA55;
}

@media only screen and (max-width: 600px) {
    body 
    {
        width: 100%;
        height: 100vh;
        margin: 0px;
        background-image: url("img/3\ -\ PtBK6JK.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #main h1
    {
        font-size: 3rem;
        letter-spacing: 1.5pc;
    }

    #navBtns button
    {
        width: 20rem;
        margin-bottom: 0;
    }
}